{{- define "main" -}}

<section>
  <div class="container container-main {{ .Params.cssClassSuffix }}">
    <article class="{{ .Params.cssClassSuffix }}">
      {{ .Content }}
    </article>
  </div>
</section>

{{ $events := (where (.Site.GetPage "/events").Pages.ByDate "published" "!=" "false") }}

<section class="map" id="events">
  <div class="container">
    <article>
      <h1>Explore Events Across Our Global Community!</h1>
    </article>
  </div>
  {{ partial "events_map.html" (dict "events" $events "context" .) }}
</section>

<section class="events" id="events">

    {{ $today := now.Format "2006-01-02" }}
    <div class="table">
      <!-- Upcoming Events -->
      <section class="table__header">
        <h2>Upcoming Events</h2>
      </section>
      <section class="table__body">
        <table class="event-table">
          <thead>
            <tr class="table-header">
              <th class="date header-element">Event</th>
              <th class="header-element">Location</th>
              <th class="header-element">Date</th>
              <th class="header-element">Category</th>
              <th class="header-element">Host</th> 
            </tr>
          </thead>
          <tbody>
            {{ range sort (where $events ".Params.event_date" "ge" $today) ".Params.event_date" "asc" }}
            <tr>
              <!-- Event -->
              <td class="event-link">
                <svg xmlns="http://www.w3.org/2000/svg" 
                    width="24" height="24" viewBox="0 0 24 24" 
                    fill="none" stroke="currentColor" stroke-width="2" 
                    stroke-linecap="round" stroke-linejoin="round">
                  <path d="M10 13a5 5 0 0 1 0-7l1.5-1.5a5 5 0 0 1 7 7L17 13"/>
                  <path d="M14 11a5 5 0 0 1 0 7l-1.5 1.5a5 5 0 0 1-7-7L7 11"/>
                </svg>

                <a href="{{ .Params.event_url | default .Permalink }}" target="_blank">{{ .Title | truncate 50 }}</a>
              </td>
              <!-- Location -->
              <td class="event-location">
                {{ $city := .Params.city }}
                {{ $country := .Params.country }}

                {{ if and $city (not (findRE "[0-9]" $city)) }}
                  {{ $city }}{{ if $country }},{{ end }}
                {{ end }}
                {{ if $country }}
                  {{ $country }}
                {{ end }}
              </td>
              <!-- Date -->
              <td class="event-date">
                {{ $eventDate := .Params.event_date | time }}

                <span class="event-day">{{ $eventDate.Format "02" }}</span>
                <span class="event-month">{{ $eventDate.Format "January" }}</span>

                {{ if and .Params.event_date_end (ne .Params.event_date_end .Params.event_date) }}
                  &nbsp;&raquo;&nbsp;
                  {{ $eventDateEnd := .Params.event_date_end | time }}
                  <span class="event-day">{{ $eventDateEnd.Format "02" }}</span>
                  <span class="event-month">{{ $eventDateEnd.Format "January" }}</span>
                {{ end }}
              </td>
              <!-- Category -->
              <td>
                <p class="event-category {{ .Params.event_category }}">
                  {{ with .Params.event_category }}{{ . }}{{ else }}—{{ end }}
                </p>
              </td>
              <!-- Host -->
              <td class="event-host">{{ .Params.event_host }}</td>
            </tr>
            {{ end }}
          </tbody>
        </table>
      </section>
    </div>
    <div class="table">
      <!-- Past events -->
      <section class="table__header">
        <h2>Past Events</h2>
      </section>
      <section class="table__body">
        <table class="event-table">
          <thead>
            <tr class="table-header">
              <th class="date header-element">Event</th>
              <th class="header-element">Location</th>
              <th class="header-element">Date</th>
              <th class="header-element">Category</th>
              <th class="header-element">Host</th> 
            </tr>
          </thead>
          <tbody>
            {{ range sort (where $events ".Params.event_date" "lt" $today) ".Params.event_date" "desc" }}
            <tr>
              <!-- Event -->
              <td class="event-link">
                <svg xmlns="http://www.w3.org/2000/svg" 
                    width="24" height="24" viewBox="0 0 24 24" 
                    fill="none" stroke="currentColor" stroke-width="2" 
                    stroke-linecap="round" stroke-linejoin="round">
                  <path d="M10 13a5 5 0 0 1 0-7l1.5-1.5a5 5 0 0 1 7 7L17 13"/>
                  <path d="M14 11a5 5 0 0 1 0 7l-1.5 1.5a5 5 0 0 1-7-7L7 11"/>
                </svg>

                <a href="{{ .Params.event_url | default .Permalink }}" target="_blank">{{ .Title | truncate 50 }}</a>
              </td>
              <!-- Location -->
              <td class="event-location">
                {{ $city := .Params.city }}
                {{ $country := .Params.country }}

                {{ if and $city (not (findRE "[0-9]" $city)) }}
                  {{ $city }}{{ if $country }},{{ end }}
                {{ end }}
                {{ if $country }}
                  {{ $country }}
                {{ end }}
              </td>
              <!-- Date -->
              <td class="event-date">
                {{ $eventDate := .Params.event_date | time }}

                <span class="event-day">{{ $eventDate.Format "02" }}</span>
                <span class="event-month">{{ $eventDate.Format "January" }}</span>

                {{ if and .Params.event_date_end (ne .Params.event_date_end .Params.event_date) }}
                  &nbsp;&raquo;&nbsp;
                  {{ $eventDateEnd := .Params.event_date_end | time }}
                  <span class="event-day">{{ $eventDateEnd.Format "02" }}</span>
                  <span class="event-month">{{ $eventDateEnd.Format "January" }}</span>
                {{ end }}
              </td>
              <!-- Category -->
              <td>
                <p class="event-category {{ .Params.event_category }}">
                  {{ with .Params.event_category }}{{ . }}{{ else }}—{{ end }}
                </p>
              </td>
              <!-- Host -->
              <td class="event-host">{{ .Params.event_host }}</td>
            </tr>
            {{ end }}
          </tbody>
        </table>
      </section>
  </div>
</section>

{{- end -}}
