{{- define "main" -}}

  <section>
    <div class="container container-main {{ .Params.cssClassSuffix }}">
      <article class="{{ .Params.cssClassSuffix }}">
        {{ .Content }}
    	</article>
    </div>
  </section>

  <section class="events" id="events">
    <div class="container container-events {{ .Params.cssClassSuffix }}">
      <article class="{{ .Params.cssClassSuffix }}">

        {{ $events := .Site.Data.events }}

        {{ partial "events_map.html" (dict "events" $events "context" .) }}

        <table id="events" class="event-table">
          <thead>
          <tr>
            <th class="date">When</th>
            <th>What</th>
            <th>Community</th>
          </tr>
          </thead>
          <tbody>
            {{ range sort $events ".fields.date" "asc" }}
              {{ $event := .fields }}
                <tr>
                  <td>{{ $event.date }}</td>
                  <td><a href="{{ $event.website }}" target="_blank">{{ $event.name | truncate 50 }}</a></td>
                  <td>{{ $event.community }}</td>
                <tr>
            {{ end }}
          </tbody>
        </table>

    	</article>
    </div>
  </section>

{{- end -}}
