{{ define "hero" }}
  <h1>
    {{ .Title }}
  </h1>
  <p class="subtitle">
    {{ .Description }}
  </p>
  <p class="subsubtitle">
    🌐 {{ .Params.city }}, {{ .Params.country }}<br>
    🗓️ {{ time.Format "January 2, 2006" .Params.event_date }}{{ if .Params.event_date_end }}-{{ .Params.event_date_end }}{{ else }}{{ if .Params.event_localtime }}, at {{ .Params.event_localtime }} (local time){{ end }}{{ end }}<br>
    📌 {{ .Params.venue_name }}
  </p>
{{ end }}

{{ define "main" }}
  <section>
    <div class="container container-main {{ .Params.cssClassSuffix }}">
      <article class="{{ .Params.cssClassSuffix }}">
        {{ .Content }}
    	</article>
    </div>
  </section>
{{ end }}
