// dark themed
$base-color-fg: #fff;
$base-color-bg: #222;
$base-color-black: #000;

$theme-color-primary: #00f8a5;
$theme-color-secondary: #44b0ff;
$theme-color-tertiary: #fe7abf;

html,
body,
div,
h1,
h2,
h3,
p,
header,
ul,
li,
table,
menu {
    margin: 0;
    padding: 0;
}

html {
  scroll-behavior: smooth;
}

/* BODY */
body {

  min-height: 100vh;
  position: relative;
  padding: 0px;
  font-family: "Roboto", sans-serif;
  background-image: url("{{ "images/django-cake.png" | relURL }}");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top;
  background-attachment: fixed;
  background-color: $base-color-bg;
}


/* CONTENT FOR ALL PAGES */
.container {
    margin: 0 auto;
    @media only screen and (min-width: 800px) {
        min-width: 800px;
        max-width: 1200px;
    }

    @media only screen and (max-width: 800px) {
        width: auto;
    }

    article {
      padding: 0 20px;
      img {
          display: block;
          width: 100%;
      }
    }
}

header {

  width: 100%;
  height: 100%;

  color: $base-color-fg;

  a, a:visited, a:active {
    text-shadow: $base-color-black 1px 0 2px;
    font-weight: bold;
    color: $base-color-fg;
    text-decoration: none;
    white-space: nowrap;
  }

  .nav-container {
    background-color: $theme-color-primary;
    margin-top: 70px;
    border-width: 5px 0 5px 0;
    border-color: #000;
    border-style: solid;
    padding: 20px;
  }

  .logo-and-nav {
    display: flex;
    align-items: center;
    width: 100%;
    column-gap: 20px;
    font-size: 1.8em;
    .logo {
      margin: -70px 0;
    }
  }

  .main-nav {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    column-gap: 25px;
    align-items: center;
  }

  .logo {
    img {
      display: block;
      width: 150px;
    }
  }

  @media only screen and (max-width: 800px) {
    .logo img {
      margin-right: -20px; // This is empty space in the image
    }

  }



  .hero {

    margin: 40px 0;
    padding: 40px;
    background: rgba(0, 0, 0, 0.9);
    border-radius: 5px;

    @media only screen and (max-width: 1200px) {
        margin: 0 0;
    }

    h1 {
      font-size: 4em;
      margin: 20px 0;
    }
    p.subtitle {
      font-size: 3em;
      margin-bottom: 40px;
    }
    p.subsubtitle {
      font-size: 2em;
      margin-bottom: 40px;
    }

  }

}

section {
  background-color: $theme-color-primary;
  border-width: 5px 0 5px 0;
  border-color: #000;
  border-style: solid;
  margin-bottom: 20px;
}

section.events {
  background-color: $theme-color-secondary;
  border-width: 5px 0 5px 0;
  border-color: #000;
  border-style: solid;
}

section.map {
  background: rgba(0, 0, 0, 0.8);
  border-width: 5px 0 5px 0;
  border-color: #000;
  border-style: solid;
  article {
    color: #fff;
  }

  #map {
    max-width: 1400px;
    margin: 0 auto;
  }

  @media only screen and (max-width: 800px) {
      width: auto;
  }
}

section.timeline {
	background: 
		radial-gradient(farthest-side at top right, #222 98%, #0000)
			calc(50% - 10px) 0/20px 20px no-repeat,
		radial-gradient(farthest-side at bottom right, #222 98%, #0000)
			calc(50% - 10px) 100%/20px 20px no-repeat,
		linear-gradient(90deg, $theme-color-tertiary 50%, $theme-color-secondary 0);
  ul {
	  list-style: none;
	  padding: 0;
	  margin: 0;
	  display: grid;
	  grid-template-columns: repeat(3, 30%);
	  justify-content: center;
  }
  li {
    font-size: 24px;
    padding: 20px;
	  grid-column: span 2;
	  border-radius: 65px;
	  color: #fff;
	  position: relative;
	  border: 20px solid #0000;
	  background: linear-gradient(#000000 0 0) content-box,
		  linear-gradient(var(--c, $theme-color-tertiary) 0 0) padding-box,
		  linear-gradient(var(--d, 90deg), #0000 75%, #222 0) border-box;
	  margin: 0px;
	  p {
	    padding: 20px;
	    a, a:visited, a:active {
	      color: #FFF;
	    }
	  }
	  blockquote {
	    font-style: italic;
	    padding-right: 30px;
	  }
    blockquote:before {
      position: absolute;
      content: open-quote;
      font-size: 2em;
      margin-left: -0.6em;
      margin-top: -0.4em;
    }
    blockquote:after {
      position: absolute;
      content: close-quote;
      font-size: 2em;
      bottom: 0;
      right: 0;
      margin-right: 1.1em;
      margin-bottom: .2em;
    }
	  iframe {
	    width: 100%;
	    min-height: 300px;;
	  }
  }
  li:nth-child(even) {
	  grid-column-end: -1;
	  --d: -90deg;
	  --c: #44b0ff;
  }
  li:not(:last-child) {
	  margin-bottom: -20px;
  }
  li:before,
  li:after {
	  content: "";
	  padding: 0;
	  display: block;
	  height: 0.6em;
  }

  time {
	  position: absolute;
	  left: calc(100% + 50px);
	  top: 50%;
	  transform: translateY(-50%);
	  white-space: nowrap;
  }
  li:nth-child(even) time {
	  left: auto;
	  right: calc(100% + 50px);
  }
  time:before {
	  content: "";
	  position: absolute;
	  height: 10px;
	  top: calc(50% - 5px);
	  right: calc(100% + 5px);
	  width: 65px;
	  background: repeating-linear-gradient(-90deg, #fff 0 5px, #0000 0 10px) 50%/100%
		  2px no-repeat;
  }
  li:nth-child(even) time:before {
	  right: auto;
	  left: calc(100% + 5px);
	  background: repeating-linear-gradient(90deg, #fff 0 5px, #0000 0 10px) 50%/100%
		  2px no-repeat;
  }

}


article {

  margin: 40px 0;
  font-size: 1.5em;

  h2 {
    font-size: 2em;
    margin: 20px 0;
  }

  p {
    max-width: 800px;
    line-height: 150%;
    margin: 20px 0;
  }

  ul {
    margin: 20px 0;
    padding-left: 40px;
  }

  img.icon {
    width: 50px;
    display: inline-block;
    margin-right: 10px;
    margin-bottom: -20px;
  }

  a, a:active, a:visited {
    color: darken($theme-color-secondary, 20%);
  }

}

footer {

  margin-top: 500px;
  color: $base-color-fg;
  background: rgba(0, 0, 0, 0.8);

  font-size: 1.4em;

  h5 {
    text-transform: uppercase;
    font-size: 1.2em;
  }

  a {
    color: $base-color-fg;
  }

  p {
    margin-bottom: 20px;
    line-height: 150%;
  }

  p.minor {
    font-size: 0.8em;
    color: #ccc;
  }

  .footer-columns {
    padding: 40px;
    display: flex;
    flex-wrap: wrap;
    flex-flow: row;
    width: 100%;
    column-gap: 50px;
    align-items: center;
    align-content: space-between;

    .footer-column {
      width: 33%;
    }

    .opening-hours {
      text-align: right;
    }

    .logo {
      img {
        display: block;
        width: 100%;
      }
    }
  }
  @media only screen and (max-width: 800px) {
    .footer-columns {
      display: block;
      padding: 0;
      column-gap: 0;
      .logo {
        img {
          display: inline-block;
          width: 50%;
        }
      }
     .footer-column {
        margin-top: 20px;
        width: auto;
        text-align: center;
     }
    }


}

}

.event-table {

  margin-top: 10px;

  width: 100%;
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-collapse: collapse;

  td, th {
    padding: 8px;
    margin: 0;
  }

  thead {
    th {
      text-align: left;
    }
  }

  th.date {
    width: 170px;
  }


  tbody {
    tr:nth-child(odd) td {
      background: rgba(255, 255, 255, 0.5);
    }
    tr:nth-child(even) td {
      background: rgba(255, 255, 255, 0.6);
    }
  }

}


// TODO: Properly integrate this CSS into the SASS + theme

:root {
	--color-django-dark: darken(#00f8a5, 0.8);
	--color-django-accent: #00f8a5;
	--color-white: #fff;
	--color-bg-light: #f8f9fa;
	--header-height: 120px;
	--spacing-lg: 2rem;
	--spacing-sm: 1.2rem;
}

#map {
	width: 100%;
	height: 70vh;
	min-height: 350px;
}

