<!-- Leaflet CSS file -->
<link rel="stylesheet" type="text/css" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="" />

<!-- Map -->
{{ $events := .events }}
<div id="map" aria-label="Django 20th Anniversary Event Locations"></div>
<script>
    const eventsData = {
        "type": "FeatureCollection",
        "features": [
            {{- range $index, $event := $events }}
            {
                "type": "Feature",
                "properties": {
                    "name": {{ .Title }},
                    "slug": {{ .Slug }},
                    "date": {{ .Params.event_date }},
                    "address": {{ .Params.venue_address }}, // TODO: Check if online event
                    "description": {{ .Description }},
                    "event_type": {{ .Params.event_type }},
                    "event_category": {{ .Params.event_category }},
                    "host": {{ .Params.event_host }},
                    "website": {{ .Params.event_url | default .Permalink }},
                    "event_category_label": {{ .Params.event_category }}
                },
                "geometry": {
                    "type": "Point",
                    "coordinates": [
                        {{ .Params.longitude }},
                        {{ .Params.latitude }}
                    ]
                }
            }{{ if ne (add $index 1) (len $events) }},{{ end }}
            {{- end }}
        ]
    };
</script>

<!-- Leaflet JS file -->
<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>
<!-- project JS file -->
<script src='{{ "js/events_map.js" | relURL }}'></script>
