<!-- Leaflet CSS file -->
<link rel="stylesheet" type="text/css" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="" />
<!-- project CSS file -->
<link rel="stylesheet" href='{{ "css/events_map.css" | relURL }}'>

<div class="map-container">
    <header class="header">
        <h1>Explore Events Across Our Global Community!</h1>
    </header>
    <!-- Map -->
    {{ $events := .events }}
    <div id="map" aria-label="Django 20th Anniversary Event Locations"></div>
    <script>
        const eventsData = {
            "type": "FeatureCollection",
            "features": [
                {{- range $index, $event := $events }}
                {
                    "type": "Feature",
                    "properties": {
                        "name": {{ $event.fields.name }},
                        "slug": {{ $event.fields.slug }},
                        "date": {{ $event.fields.date }},
                        "address": {{ $event.fields.address }},
                        "description": {{ $event.fields.description }},
                        "event_type": {{ $event.fields.event_type }},
                        "event_category": {{ $event.fields.event_category }},
                        "community": {{ $event.fields.community }},
                        "website": {{ $event.fields.website }},
                        "event_category_label": {{ $event.fields.event_category_label | default $event.fields.event_category }}
                    },
                    "geometry": {
                        "type": "Point",
                        "coordinates": [
                            {{ $event.fields.longitude }},
                            {{ $event.fields.latitude }}
                        ]
                    }
                }{{ if ne (add $index 1) (len $events) }},{{ end }}
                {{- end }}
            ]
        };
    </script>
</div>

<!-- Leaflet JS file -->
<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>
<!-- project JS file -->
<script src='{{ "js/events_map.js" | relURL }}'></script>
